body {
    background-color: gray;
    color: #111;
    font: 1em helvetica, arial, sans-serif;
    margin: 2em;
    text-align: center;
  }

  
  
  .products {
    display: grid;
    grid-gap: 1em;
  }
  
  .grid-view {
    grid-template-columns: 1fr 1fr;
  }
  
  
  .product {
    background-color: lightgray;
    padding: 0 1em;
    margin: 1em 0;
    overflow: hidden;
    box-shadow: 0 0 1em rgba(0,0,0,0.4);
    position: relative;
    text-align: left;
  }
  
  .product-name {
    text-transform: uppercase;
    color: #666;
  }
  
  .product-logo {
    width: 12em;
  }
  
  .grid-view .product-info {
    display: none;
  }
  
  .headphones {
    border-left: 0.5em solid red;
  }
  .earphones {
    border-left: 0.5em solid blue;
  }
  .product-value {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 2em;
    font-weight: 700;
  }

 
    div.logo {
     max-width: 100%;
     height: 100%;
    }
  

 